:root {
  --light-red: #ff5155; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  margin-top: 134px;
  color: var(--light-red);
}

.gameTitle {
  font-size: 4rem;
}

.gameDescription {
  font-size: 2rem;
}

.keyboardIcon {
  width: 234.2px;
  height: 156.1px;
  object-fit: contain;
  opacity: 0.64;
}

.dialogueBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontalLine {
  width: 4rem;
  height: 0;
  margin: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.inputBox {
  font-family: breamCatcher;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  color: white;
  text-align: center;
}

select > option {
  background: black;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  user-select: none
}

.headingStartGame {
  font-size: 2rem;
}

.validationError {
  color: red;
  font-family: roboto;
  font-size: 1rem;
}