.historyContainer {
  border: 1px solid var(--light-red);
  border-radius: 5%;
  padding: 1rem;
  text-align: center;
  height: 40rem;
  width: 15rem;
  overflow-y:auto
}

.heading {
  font-size: 3rem;
}

.gamelist {
  display: flex;
  flex-direction: column;
}

.gameScore {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.tinyFont {
  font-size: 1rem;
}