:root {
  --light-red: #ff5155;
}

@font-face {
  font-family: 'laserCorps';
  src: local('laserCorps'), url('./assets/fonts/lasercorpsgrad.ttf') format('truetype');
}

@font-face {
  font-family: 'breamCatcher';
  src: local('breamCatcher'), url('./assets/fonts/breamcatcher.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: laserCorps;
  color: var(--light-red);
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/background.svg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: var(--light-red)
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}