:root {
	--light-red: #ff5155;
}

html {
	font-size: 16px;
}
@media (max-width: 900px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 12px;
	}
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: var(--light-red);
}

#root {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('./assets/images/background.svg');
}

a {
	text-decoration: none;
	color: var(--light-red);
}

.textRight {
	text-align: right;
}

.textLeft {
	text-align: left;
}

.textCenter {
	text-align: center;
}

.inputBox {
	font-size: 1.5rem;
	width: 60%;
	padding: 0.5rem;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background: none;
	color: white;
	text-align: center;
}
